.App-menu {
  display: flex;
}

.App-menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  padding: 0 5px;
  height: 100%;
  min-width: 120px;
  font-size: 16px;
}

li {
  list-style: none;
}
